.comp-cabecalho3{

    

    width: 100%;
    display: flex;
    
    

    div{

        margin: 10px;
        margin-left: 24px;

        

    }

    .icones{

        display: flex;
        flex-direction: row;

        gap: 40px;
        color: white;
        font-size: 13px;

    }


}